@page
@using EMS.Localization
@using EMS.Web.Pages.Departments
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<EMSResource> L
@{
    Layout = null;
}
<form asp-page="/Departments/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewDepartment"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Department.Name" />
            <abp-input asp-for="Department.ShortBio" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
